a {
	font-size: 0.9375em;
	text-decoration: none;
}
a:visited {
  color: #0000ee;
}
body {
	padding: 0;
	margin: 0;
	display: block;
	background-color: #666666;
}
hr {
	padding: 0;
	margin: 8px auto;
	height: 0;
	width: 100%;
	max-height: 0;
	font-size: 1px;
	line-height: 0;
	border: none;
	border-top: 1px solid #666666;
	border-bottom: 1px solid #666666;
}
h3 {
	margin-bottom: 0;
}
.container-main {
	position: absolute;
	top: 0;
	left: 15%;
	right: 15%;
	background-color: #FFFFFF;
	padding: 1em;
	padding-top: 20px;
	margin: 0;
}
.container-menu {
	width: 100%;
	border-bottom: 2px solid #666666;
}
.container-left {
	width: 75%;
}
.container-side {
	width: 25%;
	float: right;
	padding: 0;
}

.wrapper.content {
	border-top: 2px solid #666666;
	padding-top: 20px;
	padding-left: 5%;
	margin-right: 5%;
	padding-bottom: 20px;
}
.form-control {
	padding-left: 3px;
	margin-bottom: 5px;
	border: 1px solid #000000;
	border-radius: 3px;
}
button {
	border: none;
	padding: 6px 8px;
	background-color: #AAAAAA;
}
button:hover {
	background-color: #888888;
}

button.small {
	padding: 0 4px;
}

span.survey-title {
	font-size: 1.1em;
	font-weight: bold;
	border: none;
	padding-bottom: 0;
}

span.survey.option.votes {
	background:#BBBBBB;
	float: right;
}
ul.survey.option {
	padding-left: 2px;
}
.survey.send {
	margin-left: 2px;
}

label.form-field {
	display: block;
	padding: 0.3em;
	width: 30%;
	text-align: center;
}

input.form-field {
	display: block;
	padding: 0.29em;
	width: 30%; 
	height: 3em;
}

textarea.form-field {
	width: 35%;
	resize: none;
	overflow: hidden;
	height: 3.3em;
}

#form-options {
	margin: 3px;
}

div.survey_options {
	width: 50%;
}

div.survey_option {
	padding: 0.2em;
}

button.remove_option_link {
	padding-top: 4px;
	padding-bottom: 4px;
}

button.add_option_link {
	padding-top: 4px;
	padding-bottom: 4px;
}

button.search-submit {
	padding: 5px; 
	padding-left: 9px; 
	padding-right: 9px;
}

div.container-flash {
	position: fixed;
	top: 2%;
	right: 50%;
	z-index: 5000;
}

div.notice {
	margin: 6px;
	padding: 12px;
	border-radius: 3px;
	border: #222222 solid;
	background: #222222;
	color: #ffffff;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: all 1s ease-out;
}