{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block stylesheets %}
	<style>
	hr {
		padding: 0;
		margin: 8px auto;
		height: 0;
		width: 100%;
		max-height: 0;
		font-size: 1px;
		line-height: 0;
		clear: both;
		border: none;
		border-top: 1px solid #666666;
		border-bottom: 1px solid #666666;
	}
	.post {
		padding: 10px;
	}
	.new {
		margin-bottom: 10px;
	}
	.title {
		font-size: 1.1em;
		font-weight: bold;
		border: none;
	}
	.content {
		border: none;
	}
	.link {
		font-style: italic;
		padding: 0;
		padding-left: 10px;
	}
	</style>
{% endblock %}

{% block content %}
	<hr>
	{% if is_granted('ROLE_ADMIN') %}
	<a class="post new" href="{{ path('app_blog_post_new') }}"><button>Create new post</button></a>
	{% endif %}
	{% for item in posts %}
	<div class="post">
		<a class="post title">{{ item["title"] }}</a> <a class="post link" href="{{ path('app_blog_post_show', {'num' : item['id']}) }}">Read</a><br>
		<span class="post content">{{ item["content"] }}<br></span>
	</div>
	{% endfor %}

{% endblock %}