{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block stylesheets %}
	<style>
	.post {
		padding: 10px;
	}
	.title {
		font-size: 1.1em;
		font-weight: bold;
		border: none;
		padding-bottom: 0;
	}
	.content {
		border: none;
		padding-top: 0;
	}
	.link {
		font-style: italic;
		padding: 0;
		padding-left: 10px;
	}
	</style>
{% endblock %}

{% block content %}
	{% for item in posts %}
	<div class="post">
		<a class="post title">{{ item["title"] }}</a> <a class="post link" href="{{ path('app_blog_post_show', {'id' : item['id']}) }}">Read</a><br>
		<span class="post content">{{ item["content"] }}<br></span>
	</div>
	{% endfor %}

{% endblock %}